<h1>Student Profile Information</h1>
<form name="profile">
Student Name:<input type="text" name="sname"><br><br>
Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input type="text" name="addr"><br><br>
Contact number:<input type="text" name="contact"><br><br>
<input type="submit" value="Save Profile"><br>
</form>
